.body-style{
  background: #04bcd4;
  padding-top: 25vh;
}
.form-container{
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
}
.bg{
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: 40%;
}


/*Angga Pur*/
.spinner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.showWhenLoading
{
  display: none;
}
.spinner {
  /*margin: 100px auto 0;*/
  /*width: 70px;*/
  text-align: center;
  position: fixed;
}
.bgBlack {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999 !important;
    top: 0;
    left: 0;
    position: fixed;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Angga Pur End*/

nav i.fa {
    margin-right: 10px;
}
header#main-header i.fa.fa-gear {
    margin-right: 10px;
}
a.btn.btn-xs.btn-warning {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
a.btn.btn-xs.btn-primary {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
button.btn.btn-xs.btn-danger {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
div#tableNice1_wrapper {
    padding: 20px 10px 10px 10px;
}
.bottom-space{
  height: 50px
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #04bcd4;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    /* box-shadow: -4px 0px 5px 1px #928686; */
    /* z-index: 99999; */
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #5deeff;
    border-bottom: 1px solid #04dbf8;
    /* border-top: 1px solid; */
    /* background: white; */
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #2aacbb;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    justify-content: space-between;
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: white !important;
    font-weight: 500;
    font-size: 30px;
}

.floatingLeft {
    padding-left: 10px;
    width: 200px;
    background: #04bcd4;
    box-shadow: -4px 0px 5px 1px #928686;
    z-index: 99999;
}

.navLeft {
    float: left;
    /* height: 100%; */
    position: relative;
    height: auto;
    width: 200px;
}

.mainRight {
    float: left;
    position: relative;
    /* margin-left: 200px; */
    width: calc(100% - 200px);
}

section#posts {
    padding-top: 20px;
}

button.dropdown-btn {
    outline: none;
}

.dropdown-container a {
    font-size: 15px;
}

.dropdown-container a i {
    margin-right: 10px;
}
html,body {
    height: 100%;
}

.utama
{
  display: flex;
}