.body-style{
	background: #4df5cb;
	padding-top: 25vh;
}
.form-container{
	background: #fff;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0px 0px 10px 0px;
}
.bg{
	width: 70px;
	height: 70px;
	position: absolute;
	top: -35px;
	left: 40%;
}


/*Angga Pur*/
.spinner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.showWhenLoading
{
  display: none;
}
.spinner {
  /*margin: 100px auto 0;*/
  /*width: 70px;*/
  text-align: center;
  position: fixed;
}
.bgBlack {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999 !important;
    top: 0;
    left: 0;
    position: fixed;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Angga Pur End*/

nav i.fa {
    margin-right: 10px;
}
header#main-header i.fa.fa-gear {
    margin-right: 10px;
}
a.btn.btn-xs.btn-warning {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
a.btn.btn-xs.btn-primary {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
button.btn.btn-xs.btn-danger {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    width: 60px;
}
div#tableNice1_wrapper {
    padding: 20px 10px 10px 10px;
}
.bottom-space{
	height: 50px
}

